In [1]:
import pandas as pd
import yfinance as yf

In [2]:
ticker = '^GSPC'
SP500 = yf.download(ticker, start='2013-01-01', end='2023-12-31')

[*********************100%%**********************]  1 of 1 completed

In [3]:
SP500.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,1462.420044,4202600000
2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,1459.369995,3829730000
2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,1466.469971,3424290000
2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,1461.890015,3304970000
2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,1457.150024,3601600000
2013-01-09,1457.150024,1464.729980,1457.150024,1461.020020,1461.020020,3674390000
2013-01-10,1461.020020,1472.300049,1461.020020,1472.119995,1472.119995,4081840000
2013-01-11,1472.119995,1472.750000,1467.579956,1472.050049,1472.050049,3340650000
2013-01-14,1472.050049,1472.050049,1465.689941,1470.680054,1470.680054,3003010000
2013-01-15,1470.670044,1473.310059,1463.760010,1472.339966,1472.339966,3135350000

In [5]:
SP500 = SP500.loc[:,['Adj Close']]
SP500['Tomorrow'] = SP500['Adj Close'].shift(-1)
SP500['Return'] = (SP500['Tomorrow'] - SP500['Adj Close']) / SP500['Adj Close']
SP500['Cumulative Return'] = (1 + SP500['Return']).cumprod()
SP500.head()

              Adj Close     Tomorrow    Return  Cumulative Return
Date
2013-01-02  1462.420044  1459.369995 -0.002086           0.997914
2013-01-03  1459.369995  1466.469971  0.004865           1.002769
2013-01-04  1466.469971  1461.890015 -0.003123           0.999638
2013-01-07  1461.890015  1457.150024 -0.003242           0.996396
2013-01-08  1457.150024  1461.020020  0.002656           0.999043

In [7]:
SP500.to_csv('SP500.csv')