In [ ]:
# steps to creating data
# 1. create dataset by loading nasdaq US stocks
# 2. from list of company tickers, create a dataframe that contains total assets data for each company
# 3. process data so that assets data is contained in a nested dataframe
# 4. save data to a file

# output file: companyData.pkl (all companies with empty elements are removed in remove_empties.ipynb)

In [2]:
# import modules
import os, sys
import requests
import pandas as pd
from tqdm import tqdm
tqdm.pandas() # for progress_apply

#Make sure to run this only once, to make lobbying-market the working directory
parent_dir_name=os.path.basename(os.path.dirname(os.getcwd()))
if parent_dir_name=='lobbying-market':
    os.chdir(os.path.pardir)
    print(os.getcwd())
    utils_path= os.path.abspath('utils')
    sys.path.append(utils_path)

/home/edr/mambaforge/envs/cbase/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/edr/mambaforge/envs/cbase/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

/mnt/c/Users/Edwar/Documents/github/lobbying-market

In [3]:
df = pd.read_pickle('companyData.pkl') #to load 123.pkl back to the dataframe df

In [6]:
# assets_summary has typo, fixed here

def month_to_quarter(month):
    months = ['03', '06', '09', '12']
    quarters = ['Q1', 'Q2', 'Q3', 'Q4']
    if month in months:
        idx = months.index(month)
        return quarters[idx]

def generate_assets_dataframe(assets):

    assets_list = assets['units']['USD'] # list of dicts
    assets_df = pd.DataFrame.from_dict(assets_list) # UPDATE: THERE WAS A TYPO HERE (SEE TOTAL_ASSETS_DF.IPYNB)
    
    # take only forms 10-Q (quarterly balance sheet data)
    is_Q = (assets_df['form'] == '10-Q')
    assets_df_Q = assets_df[is_Q]

    # take only single dates for 'end'
    assets_df.drop_duplicates('end', inplace = True, ignore_index = True)

    # obtain year and quarter
    assets_df['year'] = assets_df['end'].apply(lambda x: x.split('-')[0])
    assets_df['quarter'] = assets_df['end'].apply(lambda x: month_to_quarter(x.split('-')[1]))

    return assets_df[['end', 'val', 'quarter', 'year']]

In [9]:
generate_assets_dataframe(df.loc[2]['assets'])

           end          val quarter  year
0   2009-01-25   3350727000    None  2009
1   2009-07-26   3298409000    None  2009
2   2009-10-25   3463574000    None  2009
3   2010-01-31   3585918000    None  2010
4   2010-05-02   3803030000    None  2010
5   2010-08-01   3731268000    None  2010
6   2010-10-31   3915579000    None  2010
7   2011-01-30   4495246000    None  2011
8   2011-05-01   4736744000    None  2011
9   2011-07-31   4864424000    None  2011
10  2011-10-30   5089043000    None  2011
11  2012-01-29   5552928000    None  2012
12  2012-04-29   5708167000    None  2012
13  2012-07-29   5891881000    None  2012
14  2012-10-28   6075144000    None  2012
15  2013-01-27   6412245000    None  2013
16  2013-04-28   6279527000    None  2013
17  2013-07-28   5569592000    None  2013
18  2013-10-27   5711373000    None  2013
19  2014-01-26   7250894000    None  2014
20  2014-04-27   6864663000    None  2014
21  2014-07-27   6933719000    None  2014
22  2014-10-26   6885869000    None  2014
23  2015-01-25   7201368000    None  2015
24  2015-04-26   7291000000    None  2015
25  2015-07-26   6979000000    None  2015
26  2015-10-25   7174000000    None  2015
27  2016-01-31   7370000000    None  2016
28  2016-05-01   7108000000    None  2016
29  2016-07-31   7461000000    None  2016
30  2016-10-30   9612000000    None  2016
31  2017-01-29   9841000000    None  2017
32  2017-04-30   9410000000    None  2017
33  2017-07-30   9402000000    None  2017
34  2017-10-29   9830000000    None  2017
35  2018-01-28  11241000000    None  2018
36  2018-04-29  11460000000    None  2018
37  2018-07-29  12882000000    None  2018
38  2018-10-28  13657000000    None  2018
39  2019-01-27  13292000000    None  2019
40  2019-04-28  14021000000    None  2019
41  2019-07-28  14775000000    None  2019
42  2019-10-27  15810000000    None  2019
43  2020-01-26  17315000000    None  2020
44  2020-04-26  23254000000    None  2020
45  2020-07-26  25180000000    None  2020
46  2020-10-25  26881000000    None  2020
47  2021-01-31  28791000000    None  2021
48  2021-05-02  30796000000    None  2021
49  2021-08-01  38650000000    None  2021
50  2021-10-31  40632000000    None  2021
51  2022-01-30  44187000000    None  2022
52  2022-05-01  45212000000    None  2022
53  2022-07-31  43476000000    None  2022
54  2022-10-30  40488000000    None  2022
55  2023-01-29  41182000000    None  2023
56  2023-04-30  44460000000    None  2023
57  2023-07-30  49555000000    None  2023
58  2023-10-29  54148000000    None  2023
59  2024-01-28  65728000000    None  2024